# --------------------
# Python cache files
# --------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------
# Type checker / linters
# --------------------
.mypy_cache/
.flake8
.pytest_cache/

# --------------------
# Virtual environment
# --------------------
.venv/
venv/

# --------------------
# Python package / build artifacts
# --------------------
*.egg-info/
build/
dist/
setup.py
gpt_maze_visualizer.py
output_validator.py

# --------------------
# Project-specific outputs
# --------------------
# Ignore all .txt files
*.txt

# --------------------
# Project-specific tests
# --------------------
test_config_parser.py
tets_maze_generator.py

# Except config.txt
!config.txt